html, body { 
  margin: 0;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #111;
}

#wrapper {
  position: relative;
  height: 100%;
}

canvas {
  position: absolute; 
  top:0; 
  left:0;
}

main {
  display: flex;
  flex: 1;
  height: calc(100% - 85px);
  position: relative;
}

#map-container {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
}

#guides {
  position: absolute;
  pointer-events: none;
}

.guide {
  display: none;
}

.guide > div {
  position: absolute;
  border: 2px dashed black;
  top: 50%;
  left: 50%;
  z-index: 2000;
  box-sizing: border-box;
}

.guide > div:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px dashed white;
}


.guide[data-aspect="1"] > div.portrait, .guide[data-aspect="1"] > div.portrait:before {
  border-radius: 50%;
}

#layout {
  border: 1px solid #666;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#layout-canvas-container {
  border: 1px solid #999;
  position: relative;
  width: 90%;
  overflow: hidden;
}

#layout-title {
  margin: 5% 0 0 0;
  font-size: 36px;
  line-height: 40px;
  max-width: 90%;
  display: none;
  color: #333;
}

#layout-subtitle {
  margin: 2% 0;
  font-size: 18px;
  line-height: 28px;
  color: #666;
  max-width: 90%;
  display: none;
}

.map-label {
  position: absolute;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  z-index: 2000;
}

.aspect-1 .layout-text, .shape-full .layout-text, .landscape .layout-text {
  display: none !important;
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  margin: auto;
}

header {
  background-color: rgb(88,87,72);
  color: white;
  -webkit-text-fill-color: rgb(88,87,72);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  z-index: 5000;
}

#panels {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 300px;
  height: calc(100% - 30px);
  transition: left .5s;
  z-index: 1000;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  overflow: auto;
  display: none;
}

.panel-open #panels {
  left: 0;
}

#settings, #download { 
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding-right: 20px;
}

#download.show + #settings {
  display: none;
}

.toggle {
  position: absolute;
  z-index: 1001;
  left: 300px;
  top: 40px;
  background-color: rgb(88,87,72);
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: left .5s;
  width: 50px;
  height: 50px;
  box-shadow: 2px 0 2px rgba(0,0,0,.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.toggle.show {
  color: rgb(88,87,72);
  background-color: white;
}

.toggle:hover {
  color: #333;
}

.panel-open .toggle {
  left: 300px;
}

.leaflet-left {
  left: 60px;
  transition: left .5s;
  top: 30px;
}

.panel-open .leaflet-left {
  left: 360px;
}

#download-toggle {
  top: 100px;
}

.settings-title {
  margin: 0 0 20px 0;
  font-size: 1.1rem;
  color: #333;
  vertical-align: middle;
  background-color: rgb(237,237,226);
  padding: 5px 20px;
}

.settings-row {
  margin-bottom: 25px;
}

.settings-section {
  margin: 10px 0;
  align-items: center;
}

.settings-section > span {
  flex-grow: 1;
}

.settings-content {
  padding-left: 20px;
}

.color-section {
  margin: 20px 0 20px 20px;
}

#settings > label {
  margin: 20px 0 10px 20px;
  display: block;
}

label.bg, label.type {
  display: block;
  margin-bottom: 20px;
}

button[type="color"], div.row-icon {
  margin-right: 10px;
  width: 45px;
  height: 20px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="radio"] + span{
  color: #999;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  min-width: 20px;
  display: inline-block;
  width: calc(100% - 10px);
}

input[type="radio"] + span:hover{
  background-color: #f7f7f7;
}

input[type="radio"]:checked + span{
  color: #111;
  font-weight: bold;
  background-color: #58A2D8;
  color: white;
}

input[type="radio"][name="unit"] + span{
  width: auto;
  text-align: center;
}

#settings input[type="text"], textarea {
  width: 40px;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#settings .titles input[type="text"], #settings .label input[type="text"]#label {
  width: 200px;
}

input[type="text"].color-input {
  width: 50px !important;
  font-size: 11px;
}

button[type="color"], input[type="text"].color-input {
  display: inline-block;
  vertical-align: middle;
}

#settings .titles textarea {
  width: 200px;
}

#settings input#interval-input {
  width: 50px;
}

.leaflet-container{ background: white;}

div.disabled {
  opacity: .1;
}

div.disabled {
  display: none;
}

#download em {
  color: #b76868;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}

#download .note {
  width: 85%;
}

.download-button {
  border: 1px solid #111;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-size: 14px;
}

.download-button:hover {
  background-color: #eee;
}

#search {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 3000;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#search input {
  width: 300px;
  padding: 10px;
  display: block;
}

#search-results {
  display: none;
  width: 300px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search-result {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.search-result:hover, .search-result.highlight {
  background-color: #eee;
}

.icon-left-open {
  position: absolute;
  top: 25px;
  right: 20px;
  color: rgb(88,87,72);
  cursor: pointer;
  font-size: 14px;
}
.icon-left-open:hover {
  color: #333;
}

#loading {
  width: 100%;
  height: 100%;
  line-height: 100%;
  position: absolute;
  z-index: 2000;
  background-color: rgba(255,255,255,.75);
  font-size: 72px;
  color: rgb(88,87,72);
  text-align: center;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

#axis-link{
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 9999;
}

#zoom-controls {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3000;
}

#zoom-controls button {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

#main-panels {
  width: 300px;
  background-color: white;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.options-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding-top: 15px;
  position: absolute;
  width: 100%;
}

.options-panel > * {
  padding: 0 15px;
}

.options-panel label {
  font-size: 12px;
}

#interval-input {
  margin-right: 10px;
}

.contour-controls {
  display: flex;
  align-items: center;
}

.options-panel .contour-controls label.contour-label {
  width: 40px;
  display: block;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.contour-controls .buttons {
  flex: 0;
}

.options-panel h2, .options-panel .panel-footer {
  flex: 0;
}

.panel-content {
  flex: 1;
  overflow: auto;
  padding: 15px;
}

.panel-footer {
  padding: 15px;
  box-shadow: 0 -2px 2px rgba(0,0,0,.15);
}

.panel-footer.options {
  background-color: #f7f7f7;
}

.shape-icon {
  border: 2px solid rgba(0,0,0,.87);
  width: 40px;
  height: 40px;
  margin: auto;
}

.shape-icon.circle {
  border-radius: 50%;
}

.ui.card.selected {
  background-color: #eaeaea;
  box-shadow: 0 0 8px rgba(0,0,0,.5);
}

.color-options.ocean {
  display: none;
}

#choose-style .style svg {
  stroke-width: 0.5;
  overflow: hidden;
}

#choose-style .style svg path.index{
  stroke-width: 1;
}

#choose-style .panel-footer.options {
  max-height: 50px;
  transition: max-height 0.4s;
  overflow: hidden;
  flex: inherit;
}

#choose-style .panel-footer.options.expanded {
  max-height: 325px;
}

#choose-style .panel-footer.options h3 {
  cursor: pointer;
}

#choose-style .panel-footer.options h3 .icon {
  float: right;
}

#choose-style .panel-footer.options .angle.down {
  display: none;
}

#choose-style .panel-footer.options.expanded .angle.down{
  display: inline;
}

#choose-style .panel-footer.options.expanded .setting{
  display: none;
}

.styles {
    text-align: center;

}

.style {
  margin: 15px 12px;
  width: 100px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

#set-extent, #add-title {
  display: none;
}

#map.circle, #map.square {
  border: 1px solid #999;
}

#map.circle {
  border-radius: 50%;
}